<div class="container-fluid">
  <h1 class="title">Bootstrap</h1>
  <h1><%= link_to "ブログを作成する", new_blog_path, class: 'btn btn-success' %></h1>
  <div class="alert alert-success" role="alert">alertクラス</div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
          <span class="sr-only">Bootstrap</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Bootstrap</a>
      </div>
      <div id="gnavi" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="">top</a></li>
          <li><a href="">menu1</a></li>
          <li><a href="">menu2</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <nav class="menu">
      <ul class = "row">
        <li class="col-md-4">top</li>
        <li class="col-md-4">menu1</li>
        <li class="col-md-4">menu2</li>
      </ul>
    </nav>
  <article class="row">
    <div class="contents col-md-6">
      <ul class="row">
        <li class="col-sm-6 col-md-3">contents1</li>
        <li class="col-sm-6 col-md-3">contents2</li>
        <li class="col-sm-6 col-md-3">contents3</li>
        <li class="col-sm-6 col-md-3">contents4</li>
      </ul>
    </div>
    <div class="topic col-md-6">
      <ul>
        <li>bootstrapを使ってレスポンシブデザインを実現しよう！</li>
        <li>やればできる！bootstrapを使ってみよう！</li>
        <li>怖くない！レスポンシブデザインができるようになればWebアプリケーションもワンランク上に！</li>
      </ul>
    </div>
  </article>
</div>
